*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gilroy", sans-serif;
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.tagline {
  display: block;
  color: #e58411;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 3.15px;
  text-transform: uppercase;
}

.heading {
  font-size: 42px;
  font-weight: bold;
  line-height: normal;
}

.button {
  display: flex;
  align-items: center;
  gap: 13px;
  color: #e58411;
  font-weight: 500;
  line-height: 1.85;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header {
  color: #fff;
  background-image: url("../images/background.svg");
  min-height: 1084px;
  padding: 40px 80px;
  position: relative;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 86px;
}
.header-logo {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-left: auto;
}
.header-menu-item:first-child .header-menu-link {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
}
.header-menu-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.header-card {
  margin-left: 367px;
  position: relative;
}
.header-card-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  right: -6.8px;
  top: 2px;
  width: 20px;
  height: 25.24px;
  border-radius: 100rem;
  background-color: #e58411;
  font-weight: 500;
}
.header-union {
  position: absolute;
  left: 249px;
  top: 585px;
}
.header-group-1 {
  position: absolute;
  left: 103px;
  top: 743px;
}
.header-group-2 {
  position: absolute;
  left: 277px;
  top: 666.6px;
}
.header-group-3 {
  position: absolute;
  left: 800px;
  top: 777px;
}
.header-group-4 {
  position: absolute;
  right: 34px;
  top: 809px;
}
.header-heading {
  font-size: 80px;
  line-height: 1.3;
  letter-spacing: -0.8px;
  text-transform: capitalize;
  text-align: center;
}
.header-caption {
  margin: 14px auto 45px;
  font-size: 24px;
  line-height: 1.6;
  opacity: 0.8;
  width: 606px;
  text-align: center;
}
.header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 20px;
  border-radius: 42px;
  border: 0.862px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 344px;
  margin: 0 auto;
}
.header-search-text {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.8;
}
.header-search-text::-moz-placeholder {
  color: inherit;
}
.header-search-text::placeholder {
  color: inherit;
}
.header-search-icon {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background-color: #e58411;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choosing {
  padding: 120px 80px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.choosing-heading {
  width: 242px;
}
.choosing-title {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.9;
  line-height: normal;
}
.choosing-caption {
  width: 284px;
  font-size: 16px;
  line-height: 1.85;
  opacity: 0.8;
  margin-block: 20px 14px;
}

.product {
  background: #f7f7f7;
  padding: 50px 80px;
}
.product-heading {
  text-align: center;
}
.product-type {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 348px;
  background-color: #eee;
  border-radius: 44px;
  padding: 6px;
  margin: 32px auto 80px;
}
.product-type-ch, .product-type-be, .product-type-so, .product-type-la {
  width: 84px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 18px;
  line-height: 1.85;
  opacity: 0.8;
  transition: 0.5s;
  background-color: transparent;
  border-radius: 32px;
}
.product-type-ch:hover, .product-type-be:hover, .product-type-so:hover, .product-type-la:hover {
  background-color: #fff;
  cursor: pointer;
}
.product-type-ch {
  background-color: #fff;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  -moz-column-gap: 42px;
       column-gap: 42px;
  position: relative;
  padding: 0 41px;
}
.product-item {
  background-color: #fff;
  border-radius: 20px;
}
.product-image {
  background-color: #fafafa;
  height: 327px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  padding: 25px;
  cursor: pointer;
}
.product-info {
  padding: 14px 22px 28px;
  font-family: "Inter", sans-serif;
}
.product-caption {
  color: #8d8d8d;
  font-size: 16.755px;
  line-height: normal;
}
.product-title {
  color: #0d1b39;
  font-size: 21.325px;
  font-weight: 600;
  line-height: normal;
  margin: 6px 0;
  cursor: pointer;
}
.product-star {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 37px;
}
.product-priceadd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #0d1b39;
  font-weight: 600;
  line-height: normal;
}
.product-price span:last-of-type {
  font-size: 21.325px;
}
.product-dollar {
  display: block;
  margin-bottom: 7.62px;
  font-size: 15.232px;
}
.product-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #0d1b39;
  border-radius: 100rem;
  cursor: pointer;
}
.product .button {
  justify-content: center;
  margin-top: 60px;
}
.product-arrow-left, .product-arrow-right {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.product-arrow-left {
  position: absolute;
  bottom: 221px;
  left: 16px;
}
.product-arrow-right {
  position: absolute;
  bottom: 221px;
  right: 17px;
}

.experiences {
  margin: 240px 0;
}
.experiences-wrapper {
  display: flex;
  align-items: center;
  gap: 141px;
}
.experiences-image {
  position: relative;
}
.experiences-image-2 {
  position: absolute;
  bottom: 70px;
  z-index: -2;
}
.experiences-image-3 {
  position: absolute;
  left: 158px;
  top: 91px;
  z-index: -3;
}
.experiences-image-shadow {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: -4;
}
.experiences-content {
  width: 40%;
}
.experiences-heading {
  width: 413px;
  margin: 20px 0;
}
.experiences-caption {
  font-size: 18px;
  line-height: 1.85;
  opacity: 0.8;
  margin-bottom: 24px;
  width: 556px;
}

.materials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.materials-content {
  padding-left: 80px;
  width: 45%;
}
.materials-heading {
  width: 413px;
  padding: 20px 0;
}
.materials-caption {
  font-size: 18px;
  line-height: 1.85;
  opacity: 0.8;
  margin-bottom: 24px;
  width: 556px;
}
.materials-image {
  display: flex;
  align-items: flex-end;
  gap: 32px;
}
.materials-image-left {
  display: grid;
  place-content: center;
  row-gap: 26px;
}
.materials-image-right {
  position: relative;
  margin-bottom: 15px;
}
.materials-image-shadow {
  position: absolute;
  top: 15px;
  z-index: -2;
}
.materials-image-group {
  position: absolute;
  bottom: 90px;
  right: 0;
  z-index: -3;
}

.testimonials {
  margin-block: 240px 215px;
}
.testimonials-container {
  text-align: center;
}
.testimonials-heading {
  margin-block: 20px 60px;
}
.testimonials-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -moz-column-gap: 39px;
       column-gap: 39px;
  position: relative;
}
.testimonials-item {
  position: relative;
}
.testimonials-content {
  width: 334px;
  height: 206px;
  border-radius: 18.118px;
  background-color: #fff;
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  padding: 39px 40px 17px;
  position: absolute;
  bottom: 19px;
  left: 17px;
}
.testimonials-content-image {
  width: 66px;
  height: 66px;
  background-color: #fff;
  border-radius: 100rem;
  position: absolute;
  bottom: 173px;
  left: 133px;
}
.testimonials-content-image img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-name {
  display: block;
  margin-block: 8px 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.testimonials-place {
  display: block;
  font-size: 12px;
  line-height: normal;
  opacity: 0.6;
}
.testimonials-desc {
  line-height: normal;
  opacity: 0.8;
  margin: 22px 0;
}
.testimonials-star {
  margin: 0 auto;
}
.testimonials-shadow {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: -2;
}
.testimonials-arrow-left, .testimonials-arrow-right {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 100rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.testimonials-arrow-left {
  position: absolute;
  top: 144px;
  left: -24px;
}
.testimonials-arrow-right {
  position: absolute;
  top: 144px;
  right: -25px;
}

.footer {
  background-color: #f7f7f7;
}
.footer-container {
  padding: 118px 46px 58px;
}/*# sourceMappingURL=app.css.map */