@use "../../abstracts" as abst;

.choosing {
  padding: 120px 80px;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 28px;
  }

  &-heading {
    max-width: 260px;
  }

  &-title {
    font-size: 24px;
    font-weight: 700;
    opacity: 0.9;
    line-height: normal;
  }

  &-caption {
    max-width: 284px;
    font-size: 16px;
    line-height: calc(29.6 / 16);
    opacity: 0.8;
    margin-block: 20px 14px;
  }
}
