@use "../../abstracts" as abst;

.footer {
  background-color: #f7f7f7;

  &-container {
    padding: 118px 46px 58px;
  }

  &-top {
    @include abst.flexBox(((justify-content: space-between)));
  }

  &-logo {
    display: block;
    color: abst.$black-1e;
    font-size: 28px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.28px;
    margin-bottom: 29px;
  }

  &-caption {
    font-size: 15px;
    line-height: calc(24 / 15);
    font-weight: 500;
    opacity: 0.8;
    width: 293px;
  }

  &-heading {
    font-family: abst.$font-third;
    color: #f6973f;
    font-size: 17px;
    line-height: normal;
    letter-spacing: -0.232px;
    margin-bottom: 20px;
  }

  &-links {
    @include abst.flexBox(((flex-direction: column, gap: 16px)));
  }

  &-link {
    @include abst.flexBox(((align-items: center, gap: 16px)));
    color: abst.$black-1e;
    font-size: 15px;
    line-height: calc(24 / 15);
    font-weight: 500;
    opacity: 0.8;
  }
}
