@use "../../abstracts" as abst;

.product {
  background: #f7f7f7;
  padding: 50px 80px;

  &-heading {
    text-align: center;
  }

  &-type {
    @include abst.flexBox(((align-items: center, gap: 7px)));
    width: 348px;
    background-color: #eee;
    border-radius: 44px;
    padding: 6px;
    margin: 32px auto 80px;

    &-ch,
    &-be,
    &-so,
    &-la {
      @include abst.size(84px, 45px);
      @include abst.flexBox(((align-items: center, justify-content: center)));
      padding: 4px;
      font-size: 18px;
      line-height: calc(33.3 / 18);
      opacity: 0.8;
      transition: 0.5s;
      background-color: transparent;
      border-radius: 32px;

      &:hover {
        background-color: #fff;
        cursor: pointer;
      }
    }

    &-ch {
      background-color: #fff;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 42px;
    position: relative;
    padding: 0 41px;
  }

  &-item {
    background-color: #fff;
    border-radius: 20px;
  }

  &-image {
    background-color: #fafafa;
    height: 327px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    padding: 25px;
    cursor: pointer;
  }

  &-info {
    padding: 14px 22px 28px;
    font-family: abst.$font-secondary;
  }

  &-caption {
    color: #8d8d8d;
    font-size: 16.755px;
    line-height: normal;
  }

  &-title {
    color: #0d1b39;
    font-size: 21.325px;
    font-weight: 600;
    line-height: normal;
    margin: 6px 0;
    cursor: pointer;
  }

  &-star {
    @include abst.flexBox(((align-items: center, gap: 3px)));
    margin-bottom: 37px;
  }

  &-priceadd {
    @include abst.flexBox(
      ((align-items: center, justify-content: space-between))
    );
  }

  &-price {
    @include abst.flexBox(((align-items: center, gap: 3px)));
    color: #0d1b39;
    font-weight: 600;
    line-height: normal;

    & span:last-of-type {
      font-size: 21.325px;
    }
  }

  &-dollar {
    display: block;
    margin-bottom: 7.62px;
    font-size: 15.232px;
  }

  &-add {
    @include abst.flexBox(((align-items: center, justify-content: center)));
    @include abst.size(50px);
    background-color: #0d1b39;
    border-radius: 100rem;
    cursor: pointer;
  }

  .button {
    justify-content: center;
    margin-top: 60px;
  }

  &-arrow-left,
  &-arrow-right {
    @include abst.size(50px);
    @include abst.flexBox(((align-items: center, justify-content: center)));
    background-color: #fff;
    border-radius: 100rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 2;
  }

  &-arrow-left {
    position: absolute;
    top: 50%;
    left: 16px;
  }

  &-arrow-right {
    position: absolute;
    top: 50%;
    right: 17px;
  }
}
