@use "../../abstracts" as abst;

.testimonials {
  margin-block: 240px 215px;

  &-container {
    text-align: center;
  }

  &-heading {
    margin-block: 20px 60px;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 39px;
  }

  &-content {
    @include abst.size(334px, 206px);
    border-radius: 18.118px;
    // background-color: rgba(255, 255, 255, 0.84);
    background-color: yellowgreen;
    backdrop-filter: blur(5.5px);

    &-image {
      // @include abst.size(66px);
      background-color: #fff;
      border-radius: 100rem;

      & img {
        padding: 8px;
      }
    }
  }
}
